

#wrapper {
    position: relative;
}
.ui-autocomplete{
    max-height: 200px !important;
    max-width: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 80px;
}
 	/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  height:88vh;
  margin: 0;
  padding: 0;
  }

#form {
  position: absolute;
  margin-top: 0px;
  top: 0px;
  right: 0px;
  z-index: 99;
  height: 100%;
  width: 400px;
  z-index: 99;
  border-radius: 5px;
  background-color: #DFDFDF;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  align-content: center;
  justify-content: center;
}

.inputRow{
  padding: 1rem;
}

