/* The css for the autocomplete selection box that appears for source and destination */
.ui-autocomplete{
    max-height: 200px !important;
    max-width: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
}

.ui-autocomplete li {
  border-top: 1px #ccc solid!important;
}

.ui-autocomplete li:first-child { border-top: none !important; padding-top: 0 !important; }

.stopids{
  background-color: blue;
  color: white;
}
 	/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

/* Map division */
#map {
  height: 100vh;
}

/* Optional: Makes the sample page fill the window. */

/* Since we need all the parent of the map to have 100% height. Hence this */
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Set relative padding for the input boxes */
.inputRow{
  padding: 1rem;
  float: none;
}



/* The parent wrapper for both the map and the form */
.wrapper {
  position: relative;
  height:100vh;
  margin: 0;
  padding: 0;
  }

.overlay {
  background-color: rgb(33,37,41) !important;
  opacity: 0.5;
  display: none;
  position: relative;
  height:100vh;
  margin: 0;
  padding: 0;
  z-index: 98;
  }


/* Positioning the form over the map and on the right of the screen. Parameters are pretty self explanatory */
#form {
  position: absolute;
  background-color: rgba(33,37,41,0.9) !important;
  margin-top: 0px;
  top: 0px;
  right: 0px;
  z-index: 99;
  height: 100vh;
  width: 400px;
  z-index: 99;
  border-radius: 5px;
  background-color: #FFF;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  align-content: center;
  justify-content: center;
}


/* The class which is defined for displaying lines. Only display by jquery */
#lineholder{
  display: None;
}

/* The class which is defined for travel time display on the form. Only display by jquery */
#journeyholder{
  display: None;
}

/* Home 1 displays the routes after the user clicks get my travel time on the home tab */
#home1{
  color: white;
  display: none;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

/* Customizing the navigation link */
a.nav-link.active{
  background-color: #DFDFDF !important;
}

a.nav-link{
  color: white;
}

#noSource{
  display: none;
}

#noDestination{
  display: none;
}

#sourceFirst{
  display: none;
}

/* Modifying tex-danger class */
.text-danger{
  color: #f44336 !important;
}

/* CSS For the form when the device is opened in mobile */
@media screen and (max-width: 650px){ /* When the device screen widht decreases below 650 px */
  .mobile-form { /* Use this class */
    background-color: rgba(33,37,41,0.8) !important;
    border-radius: 10px !important;
    position: absolute !important; /* Make the position of the form fixed */
    top: 50% !important;
    /* bottom: 50% !important; */
    /* min-height: 100vh !important; Full device height */
    max-height: 550px !important;
    left: 50%; /* Since we need the form to hover over the map we will shift the form 50% from left */
    right: 50% !important;
    transform: translate(-50%, -50%); /* Same reasons from above [To position the form] */
  }
  .mobile-col-centered{
    float: none;
    margin: 0 auto;
  }
  .mp-5{
    padding: 5px 5px 5px 5px !important;
  }
}

.errorreport{
  color: white;
  position: fixed !important; /* Make the position of the form fixed */
  top: 50% !important;
  left: 50%; /* Since we need the form to hover over the map we will shift the form 50% from left */
  right: 50% !important;
  height: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transform: translate(-50%, -50%); /* Same reasons from above [To position the form] */
  z-index:99;
}